<table width="100%">
    <tbody>
    <tr>
        <td>
            <caption><h3>Books List</h3></caption>
    <thead>
    <tr>
        <th>ID</th>
        <th>Author</th>
        <th>Title</th>
        <th>Description</th>
        <th>Print Year</th>
        <th>ISBN</th>
        <th>Read</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr class="botonLine" ng-repeat="book in $ctrl.bookss">
        <td>{{book.id}}</td>
        <td>{{book.author}}</td>
        <td>{{book.title}}</td>
        <td>{{book.description}}</td>
        <td>{{book.printYear}}</td>
        <td>{{book.isbn}}</td>
        <td>{{book.read | checkmark}}</td>
        <td>
            <input type="image" name="image" ng-src="images/edit.png" width="25" ng-click="$ctrl.edit(book)">
        </td>
        <td>
            <input type="image" name="image" ng-src="images/remove.png" width="25" ng-click="$ctrl.delete(book.id)">
        </td>
    </tr>
    </tbody>
    </td>
    </tr>
    </tbody>
</table>

<table align="center">
    <tbody>
    <tr>
        <td width="100%">
            <table>
                <tbody>
                <tr>
                    <td><h4> Page: </h4></td>
                    <td><input type="button" value=" < " ng-click="$ctrl.prevPage()"></td>
                    <td>{{$ctrl.page}}</td>
                    <td><input type="button" value=" > " ng-click="$ctrl.nextPage()"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>


<table width="100%">
    <tr>
        <td valign="top">
            <fieldset>
                <legend>Add Book</legend>
                <table>
                    <tbody>
                    <tr>
                        <td>ID</td>
                        <td>{{$ctrl.book0.id}}</td>
                    </tr>
                    <tr>
                        <td>Author</td>
                        <td>{{$ctrl.book0.author}}</td>
                    </tr>
                    <tr>
                        <td>Title</td>
                        <td><input type="text" value="name" ng-model="$ctrl.book0.title"></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><input type="text" value="name" ng-model="$ctrl.book0.description"></td>
                    </tr>
                    <tr>
                        <td>ISBN</td>
                        <td><input type="text" value="name" ng-model="$ctrl.book0.isbn"></td>
                    </tr>
                    <tr>
                        <td>Year</td>
                        <td><input type="number" value="0" ng-model="$ctrl.book0.printYear"></td>
                    </tr>
                    <tr>
                        <td>Read</td>
                        <td><input type="checkbox" ng-model="$ctrl.book0.read"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="button" value="ADD" ng-click="$ctrl.add(book0)">
                            <input type="button" value="UPDATE" ng-click="$ctrl.update(book0.id, book0)">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </fieldset>
        </td>
        <td valign="top">
            <fieldset>
                <legend>Search Book</legend>
                <table>
                    <tbody>
                    <tr>
                        <td><h4>Title:</h4></td>
                        <td>
                            <input type="text" ng-model="searchname">
                        </td>
                        <td><input type="button" value="SEARCH" ng-click="$ctrl.search(searchname)"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="button" value="CLEAR" ng-click="$ctrl.clearsearch()">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </fieldset>
        </td>
    </tr>
</table>