<table width="100%">
    <tbody>
    <tr>
        <td>
            <caption><h3>Books List</h3></caption>
    <thead>
    <tr>
        <th>ID</th>
        <th>Author</th>
        <th>Title</th>
        <th>Description</th>
        <th>Print Year</th>
        <th>ISBN</th>
        <th>Read</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr class="botonLine" ng-repeat="book in $ctrl.bookss">
        <td>{{book.id}}</td>
        <td>{{book.author}}</td>
        <td>{{book.title}}</td>
        <td>{{book.description}}</td>
        <td>{{book.printYear}}</td>
        <td>{{book.isbn}}</td>
        <td>{{book.readAlready | checkmark}}</td>
        <td>
            <input type="image" name="image" ng-src="images/edit.png" width="25" ng-click="$ctrl.edit(book)">
        </td>
        <td>
            <input type="image" name="image" ng-src="images/remove.png" width="25" ng-click="$ctrl.delete(book.id)">
        </td>
    </tr>
    </tbody>
    </td>
    </tr>
    </tbody>
</table>

<table align="center">
    <tbody>
    <tr>
        <td width="100%">
            <table>
                <tbody>
                <tr>
                    <td><h4> Page: </h4></td>
                    <td><input type="button" value=" < " ng-click="$ctrl.prevPage()"></td>
                    <td>{{$ctrl.page}}</td>
                    <td><input type="button" value=" > " ng-click="$ctrl.nextPage()"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>


<table width="100%">
    <tr>
        <td valign="top">
            <fieldset>
                <legend>Book</legend>
                <table>
                    <tbody>
                    <tr>
                        <td>ID</td>
                        <td>{{$ctrl.book0.id}}</td>
                    </tr>
                    <tr>
                        <td>Author</td>
                        <td ng-hide="$ctrl.canRead">{{$ctrl.book0.author}}</td>
                        <td><input type="text" ng-show="$ctrl.can2" ng-model="$ctrl.book0.author"></td>
                    </tr>
                    <tr>
                        <td>Title</td>
                        <td><input type="text" ng-show="$ctrl.can3" value="name" ng-model="$ctrl.book0.title"></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><input type="text" ng-show="$ctrl.can3" value="name" ng-model="$ctrl.book0.description"></td>
                    </tr>
                    <tr>
                        <td>ISBN</td>
                        <td><input type="text" ng-show="$ctrl.can3" value="name" ng-model="$ctrl.book0.isbn"></td>
                    </tr>
                    <tr>
                        <td>Year</td>
                        <td><input type="number" ng-show="$ctrl.can3" value="0" ng-model="$ctrl.book0.printYear"></td>
                    </tr>
                    <tr>
                        <td>Read</td>
                        <td><input type="checkbox" ng-hide="$ctrl.canRead" ng-model="$ctrl.book0.readAlready"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <!--<input type="button" value="NEW" ng-click="$ctrl.newBook()">-->
                            <input type="button" ng-show="$ctrl.canRead" value="ADD" ng-click="$ctrl.add($ctrl.book0)">
                            <input type="button" ng-hide="$ctrl.canRead" value="UPDATE" ng-click="$ctrl.update($ctrl.book0.id, $ctrl.book0)">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </fieldset>
        </td>
        <td valign="top">
            <fieldset>
                <legend>Search Book</legend>
                <table>
                    <tbody>
                    <tr>
                        <td>
                            Find by:
                            <select ng-model="$ctrl.findName">
                                <option value="title">Title</option>
                                <option value="author">Author</option>
                                <option value="isbn">ISBN</option>
                                <option value="print_year">Print year</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" ng-model="searchname">
                        </td>
                        <td><input type="button" value="SEARCH" ng-click="$ctrl.search(searchname, $ctrl.findName)"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="button" value="SHOW TABLE" ng-click="$ctrl.clearsearch()">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </fieldset>
        </td>
    </tr>
</table>